@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ff0090;
  --color-secondary: #ef4444;
  --color-bgColor: #100c08;
}

body {
  font-family: "Lexend", sans-serif;
}

.font-logo {
  font-family: "Arizonia", cursive;
}
